
<div class="chart-container">
  <mat-accordion style="width: 80%;">
    <mat-expansion-panel #chart hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Chart
        </mat-panel-title>
        <mat-panel-description>
          Show a chart with post information
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="width: 100%; display: flex; justify-content: center;">
      </div>
    
    </mat-expansion-panel>
  </mat-accordion>
</div>



<mat-drawer-container class="side-container">

  <mat-drawer id="drawer-list" #listdrawer mode="side" opened>
    
    <div class="list-container">
      <div class="search">
        <input type="text" placeholder="Search">
        <button mat-button >
          <mat-icon>sort_by_alpha</mat-icon>
        </button>
      </div>
      <div *ngFor="let user of [1,2,3,4]">
        <div>
          <app-user></app-user>
        </div>

      </div>
      <div class="paginator-container">
        <button mat-button>
          <mat-icon>navigate_before</mat-icon>Prev.
        </button>
        <div>
          <mat-label>1 of 2</mat-label>
        </div>
        <button mat-button >Next<mat-icon>navigate_next</mat-icon></button>
      </div>
    </div>

  </mat-drawer>
  <mat-drawer-content>


    <div class="detail-container">
      
      <div class="detail">
        <button style="align-self: center;" mat-button >
          <mat-icon>navigate_before</mat-icon>Back
        </button>
        <app-userdetail [user]="{first_name:'jose',last_name:'robles',email:'jcalvo@io.io'}"></app-userdetail>
      </div>

      <div class="posts-container">
        <h1 style="text-align: center;">No posts found</h1>
        <div *ngFor="let post of [1,2,3,4] let i= index">
          <app-post></app-post>
        </div>
      </div>


    </div>
  </mat-drawer-content>
</mat-drawer-container>